<html>
	<head>
		<link rel = "stylesheet" href = "/static/Style.css">
		<title>Увлечения</title>
	</head>
	
	<body>
		<div align = "center">
			<b class = "Main">Мои увлечения</b>
		</div>
		
		<table class = "container">
			<tr><td> <img src = "/static/Hobby1.jpg" class = "Images"> </td> <td> <img src = "/static/Hobby3.jpg" class = "Images"> </td><td> <img src = "/static/Hobby4.jpg" class = "Images"> </td>></tr>
			<tr> <td class = "Header">Гребной слалом </td> <td class = "Header">Космос </td><td class = "Header">Баскетбол </td></tr>
		</table>
		<form action = "http://localhost:8000/main/" >
			<div class = "container">
				<button type "button", name = "Button3", class = "Button1">
					<b class = "ButtonText"> Назад </b>
				</button>
			</div>
		</form>
	</body>
</html>