<html>
    <head>
        <link href="\static\Style.css" rel = "stylesheet">
        <title>Достижения </title>
    </head>
    <body>
        <table class ="table">
            <tr class = "tabletext"><th> Олимпиады </th><th> Этап </th><th> Олимпиады </th></tr>
            <tr class = "tabletext"><td> ВОШ(Всероссийская олимпиада школьников) </td> <td> Городской этап </td> <td> 2 место </td> </tr>
            <tr class = "tabletext"><td> Олимпиада от университета ИТМО</td> <td> Заочный этап </td> <td> Победитель </td> </tr>
        </table>

        <form action = "http://localhost:8000/main/" >
			<div class = "container">
				<button type "button", name = "Button3", class = "Button3">
					<b class = "ButtonText"> Назад </b>
				</button>
			</div>
		</form>
    </body>
</html>