<html>
	<head>
		<link rel = "stylesheet" href = "/static/Style.css">
		<title>Симанайтес Ян</title>
	</head>
	
	<body ">
		<div align = "center">
			<b class = "Main">Меня зовут Ян Симонайтес</b>
		</div>




		<div class = "container1">
			<form action = "http://localhost:8000/hobby/">
				<button type   "button" name = "button1" class = "Button4" >
					<b><div class ="ButtonText">Увлечения</div></b>
				</button>
			</form>
			<div class = "header">Год рождения: 2004 </div>
		</div>
		<div class = "container">
			<form action = "http://localhost:8000/project/">
				<button type   "button" name = "button2" class = "Button">
					<b><div class ="ButtonText">Проекты</div></b>
				</button>
			</form>
			<div class = "header">Место проживания: город Рязань</div>
		</div>

		<div class = "container1">
				<form action = "http://localhost:8000/progress/">
					<button type   "button" name = "button5" class = "Button">
						<b><div class ="ButtonText">Достижения</div></b>
					</button>
				</form>
				<div class = "header">Учебное учреждения: школа №17 </div>
		</div>
		
	</body>
</html>